body {
    background-color: #bce5d8;
    margin: 0;
    padding: 0;
}

.page {
    background: linear-gradient(#003B46, #C4DFE6);
    text-align: center;
}

.header {
    text-decoration: overline;
    font-size: 1.1cm;
    color: #3D82AB;
    text-align: center;
}

.content {
    background-color: #003853;
    margin: 0 auto;
    width: 750px;
    text-align: left;
    padding: 20px;
}

.main {
    font-size: 1.5cm;
    font-style: italic;
    color: #91D4C2;
    text-align: center;
}

.nav {
    display: flex;
    justify-content: center;
    text-align: center;
}

.nav-items {
    margin: 10px;
}

a {
    font-family: 'Abril Fatface', cursive;
    font-weight: bold;
    background-color: #91D4C2;
    padding: 5px;
    text-decoration: none;
    font-size: 17px;
    color: #1E646E;

}

.menu {
    text-align: center;
}

.nav-items:hover {
    text-decoration: underline;
    cursor: crosshair;
}

.btn:hover {
    background-color: RoyalBlue;
}

.btn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
}

h1 {
    color: #87CEEB;
}

#me {

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    border-radius: 50%;
    margin-top: 50px;

}

.linkPC {
    color: none;
    background-color: #003853;
}

.linkPC:hover {
    text-decoration: underline;
    color: #87CEEB;
}

.title {
    text-align: center;
}

.me {
    width: 200px;
}

#image img {
    width: 100px;
    width: 26%;
    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition: transform .8s ease-in-out;
    padding: 50px;
}

#image {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

#intro {

    font-size: 20px;
    color: #87CEEB;
}

#eastBay {
    width: 300px;
    float: left;
}

.eastBayP {
    margin-right: 250px;
}

#universityOregon {
    width: 200px;
    float: right;
}

.collegeTitle {
    margin-top: 90px;
}

.UOP {

    margin-left: 250px;
}

#losAngeles {
    float: left;
    width: 200px
}

.losAngelesP {
    margin-right: 250px;
}

img:hover {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.5s;
    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }
    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }
    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }
    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }
    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }
    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}
